* {
    background-color: azure;
}

.winner {
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.result,
.winner,
.finalResult {
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.reset {
    margin: 30px;
    display: flex;
    flex: space-around;
    justify-content: center;
    text-align: center;
}

.reset button {
    background-color: rgb(107, 36, 104);
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: 100ms;
}

.reset button:hover {
    transform: scale(1.12);
    font-weight: bold;
}

.winner {
    color: red;
}

.card {
    display: flex;
    flex: space-around;
    justify-content: center;
}

.card button {
    margin: 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 100ms;
}

.card button:hover {
    transform: scale(1.12);
}

.card button img {
    width: 300px;
}

.result {
    /* margin: 2rem; */
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.result .score {
    margin-left: 1rem;
    /* font-size: 0.5rem; */
}